
*{
    font-family: 'lucida grande';

}

h1{
    text-align: center;
    font-weight: 100;
    color: #9B9C9E; 

    font-size: 60px;
}

h2{
    color: #9B9C9E; 
    font-size: 1.2em;
}

a{
    color: #E1001A;
    margin: 25px 0;
    display: inline-block;
}
p{
    margin: 0;
}

.sm-icon{
    width: 75px;
    height: 75px;
    fill: #9B9C9E; 
}

.contact-icon{

    width: 40px;
    height: 40px;
}
.pagecontent > div{
    border-bottom: 2px solid lightgrey;
}

.pagecontent > div:last-child{
    border-bottom: none;
}
